<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="LogFileAppender" class="org.apache.log4j.FileAppender">
    <param name="File" value="${com.sun.aas.instanceRoot}/logs/logcarrentals.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] %C{1} %m %n"/>
    </layout>
  </appender>
    <!-- setup log4j's root logger -->
    <root>
        <level value="DEBUG" />
        <appender-ref ref="LogFileAppender"/>
    </root>
</log4j:configuration>